@import '../../global.scss';

.contact {
  background-color: $secondaryColor;
  display: flex;

  .left {
    flex: 1;
    overflow: hidden;

    img {
      height: 100%;
    }
  }

  .right {
    flex: 1;
    @include flexCenter(column);
    justify-content: center;

    h2 {
      font-size: fontSize(medium);
      color: $mainColor;
    }

    form {
      width: 70%;
      height: 70%;
      @include flexJustify(space-around);
      flex-direction: column;

      input {
        width: 300px;
        height: 30px;
        font-size: fonSize(small);
      }

      textarea {
        width: 300px;
        height: 200px;
        font-size: fonSize(small);
      }

      button {
        width: 150px;
        height: 30px;
        color: $secondaryColor;
        background-color: $accent-color;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        font-weight: fontWeight(500);
      }

      span {
        color: $mainColor;
      }
    }
  }
}
